h1{
    background-color: blue;
}
h2{
    background-color: rgb(78, 78, 169);
}
h3{
    background-color: rgb(11, 244, 50);
}
h4{
    background-color: rgb(188, 14, 180);
}
h5{
    background-color: rgb(210, 129, 16);
}
h6{
    background-color: rgb(195, 42, 47);
}
